/* Split screen styles for Quirk extension */

.quirk-split-container {
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.quirk-split-left {
  width: 50%;
  height: 100%;
  overflow: auto;
  border-right: 2px solid #ccc;
}

.quirk-split-right {
  width: 50%;
  height: 100%;
  overflow: auto;
}

.quirk-split-resize-handle {
  width: 5px;
  background-color: #999;
  cursor: col-resize;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.quirk-split-resize-handle:hover {
  background-color: #666;
}
